.fcjs_fontMenu {

	@extend %menuStyles;

	width: 30%;
	height: 50%;
	overflow: scroll;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 1em;
	border: $border;
	background-color: white;
}

.fcjs_fontMenu_wrapper {

	@extend .fcjs_fontMenu;

	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	transform: initial;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	bottom: initial;
	right: initial;
}

.fcjs_fontMenu_overlay {

	@extend .fcjs_fontMenu_wrapper;

	background-color: #ccc;
	opacity: 0.5;
}