.fcjs_hidden {
  display: none; }

.fcjs {
  cursor: context-menu; }

.fcjs_fontMenu, .fcjs_fontMenu_wrapper, .fcjs_fontMenu_overlay {
  font-family: sans-serif !important; }

.fcjs_hidden {
  display: none; }

.fcjs {
  cursor: context-menu; }

.fcjs_contextMenu {
  position: absolute;
  border: solid 1px #ccc;
  background-color: white;
  padding: 10px;
  font-family: sans-serif !important;
  text-decoration: none !important;
  text-transform: none !important;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  cursor: default;
  margin: 0;
  transition: 0.2s ease-out;
  opacity: 0;
  z-index: 9999 !important;
  text-align: left; }
  .fcjs_contextMenu:before {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateX(-50%);
    background-color: white;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    position: absolute;
    top: -2px;
    left: 50%; }
  .fcjs_contextMenu:hover {
    opacity: 1 !important; }
  .fcjs_contextMenu a::selection {
    background: none; }

.fcjs_fontName {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: black;
  margin: 0 !important;
  margin-bottom: 0.5em !important; }
  .fcjs_fontName::selection {
    background: none; }

.fcjs_prev, .fcjs_next, .fcjs_random, .fcjs_play, .fcjs_pause, .fcjs_list {
  cursor: pointer !important;
  color: black !important;
  text-decoration: none !important;
  border: none !important; }

.fcjs_prev, .fcjs_next {
  font-size: 12px; }

.fcjs_play, .fcjs_pause {
  margin-left: 6px; }

.fcjs_list {
  font-size: 15px; }

.fcjs_pause {
  display: none; }

.fcjs_fontMenu, .fcjs_fontMenu_wrapper, .fcjs_fontMenu_overlay {
  width: 30%;
  height: 50%;
  overflow: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  border: solid 1px #ccc;
  background-color: white; }

.fcjs_fontMenu_wrapper, .fcjs_fontMenu_overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  transform: initial;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  bottom: initial;
  right: initial; }

.fcjs_fontMenu_overlay {
  background-color: #ccc;
  opacity: 0.5; }
